html{
	font-family: "Montserrat", sans-serif;
	font-family: "Raleway", sans-serif;
	height:100%;
}

body{
	background-color: #D2CA77;
	font-family: Raleway;
	color: black;
	height:100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: Montserrat;
	color: #322A15;
}

.bg{
	background-image: url("https://static1.squarespace.com/static/541e0918e4b0debb331819f5/t/59557e98d1758e89108214d9/1498790032701/tea+bags.png?format=1500w");
	height: 100%;
	margin: 0;
	background-position: center;
	background-size: cover;
}

.landing-page{
	padding-top:5em;
}

.nav-link{
	font-family: Montserrat;
	font-size: 1.17em;
}

.nav-link:link, .nav-link:visited{
	text-decoration: none;
	color: #2C0F14;
}

.nav-link:hover, .nav-link:active{
	text-decoration: none;
	color: #671919;
}

#cafe_name{
	font-size: 4em !important;
}

.menu{
	margin-top: 2em;
}